@page "/"
@inject HardwareService _hardwareService
@implements IDisposable


<PageTitle>Inland 4 Port Relay</PageTitle>

<div style="display: flex; height: 100%; align-items: center; justify-content: center;">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Normal" Wrap="FlexWrap.Wrap" Gap="1rem">
        @foreach (var relay in _hardwareService.Pins.Where(x => x.InUse))
        {
            <RadzenToggleButton @bind-Value="relay.State" Text=@relay.Name
                                Variant="@(relay.State? Variant.Filled : Variant.Outlined)"
                                Shade="Shade.Darker"
                                ButtonStyle="ButtonStyle.Info"
                                ToggleButtonStyle="ButtonStyle.Success" />
        }
    </RadzenStack>
</div>

@code {

    protected override void OnInitialized()
    {
        _hardwareService.PropertyChanged += async (s, e) => await InvokeAsync(StateHasChanged);

    }

    public void Dispose()
    {
        _hardwareService.PropertyChanged -= async (s, e) => await InvokeAsync(StateHasChanged);
    }
}

<style>
    .rz-toggle-button {
        height: 100px;
        width: 330px !important;
        font-size: 3rem;
    }
</style>